/* 引入图标 */

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}


/* 顶部导航 */

.top-nav {
    height: 150px;
    background: #046FAE;
    justify-content: space-between;
}

.top-nav a {
    color: #fff;
    text-decoration: none;
}

.top-nav a:hover {
    color: #d7d7d7;
}

.top-nav .navbar-brand {
    padding-left: 1rem;
}

.top-nav .navbar-brand img {
    height: 160px;
}

.top-nav span.nav-link {
    color: #FFF;
}

.top-nav .top-nav-right {
    height: 150px;
}

@media (max-width:768px) {
    .top-nav {
        display: none;
    }
}


/* 桌面搜索框 */

.lg-search,
.md-search {
    border-radius: 5rem;
    background: #FFF;
}

.lg-search {
    margin-top: 1.8rem;
    height: 30px;
}

.lg-search input,
.lg-search input:focus,
.lg-search button {
    border: none;
    outline: none;
    padding-left: 1rem;
    background: none;
    font-size: 14px;
}

.lg-search input {
    width: 120px;
    padding-bottom: 5px;
}

.lg-search button .icon {
    font-size: 20px;
}


/* 移动搜索框 */

.md-search {
    margin: 1rem auto 0;
    width: 85%;
}

.md-search input {
    width: calc(100% - 50px);
    padding-left: 1rem;
    border: none;
    outline: none;
    background: none;
}

.md-search button .icon {
    margin-top: 5px;
    font-size: 22px;
}


/* 导航菜单 */

.menu-nav {
    height: 70px;
    background: #1088cc;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 100;
}

.menu-nav .navbar-nav {
    background: #1088CC;
}

.menu-nav .navbar-brand {
    display: none;
}

.menu-nav .nav-link {
    padding: 1.2rem 1.5rem 0 0;
    height: 100%;
    font-size: 20px;
    color: #FFF;
}

.dropdown-item {
    color: #FFF;
    padding: 1rem 0 1rem 1rem;
}

.menu-nav .nav-link::after {
    display: none;
}

@media (min-width:1000px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }
}

@media (min-width:1400px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }
}

@media (min-width:1600px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }
}

@media (min-width:768px) {
    .menu-nav .nav-link:hover,
    .dropdown-item:hover,
    .dropdown.hover .nav-link {
        color: #1088CC;
        background: #FFF;
    }
    .menu-nav .navbar-collapse {
        height: 100%;
    }
    .menu-nav .navbar-brand {
        display: none;
    }
    .menu-nav .nav-item .dropdown-menu {
        top: 69px;
        padding: 0;
        margin: 0;
        border-radius: 0;
        border-top: 1px solid #FFF;
        background: #1088CC;
    }
    .menu-nav .md-search {
        display: none;
    }
    .dropdown:hover>.dropdown-menu {
        display: block;
    }
    .dropdown>.dropdown-toggle:active {
        pointer-events: none;
    }
}

@media (max-width:768px) {
    .menu-nav {
        background: #046FAE;
        padding: 0;
        height: 50px;
    }
    .menu-nav .navbar-nav {
        padding-bottom: 1rem;
    }
    .menu-nav .navbar-brand {
        margin-left: 1rem;
    }
    /* .menu-nav .nav-item {
        height: 49px;
    } */
    .menu-nav button.navbar-toggler {
        color: #FFF;
        margin-right: 1rem;
    }
    .menu-nav .navbar-brand {
        display: unset;
        color: #FFF;
    }
    .menu-nav .navbar-collapse {
        position: relative;
        top: 10px;
    }
    .menu-nav .navbar-nav .nav-link {
        padding-left: 1.5rem;
    }
    .menu-nav .navbar-nav .dropdown-menu {
        border-radius: 0;
        border: none;
        background: rgb(41, 148, 209);
        position: relative;
        top: calc(-100% + 49px);
    }
    .menu-nav .navbar-nav .dropdown-menu .dropdown-item {
        padding-left: 2rem;
    }
}


/* 两端对齐 */

@media (min-width: 576px) {
    .menu-nav .navbar-nav {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .menu-nav .navbar-nav {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .menu-nav .navbar-nav {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .menu-nav .navbar-nav {
        max-width: 1140px;
    }
}

@media (max-width:992px) {
    .top-nav>.container {
        padding: 0;
    }
}

.menu-nav .navbar-nav {
    width: 100%;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: auto;
    margin-left: auto;
}